<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en-US</string>
	<key>CFBundleIdentifier</key>
	<string>net.cundd.snipperhelp.help</string>
	<key>CFBundleName</key>
	<string>SnipperHelp</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>hbwr</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>HPDBookAccessPath</key>
	<string>SnipperHelp.html</string>
	<key>HPDBookIconPath</key>
	<string>Shared/Icon.png</string>
	<key>HPDBookKBProduct</key>
	<string>snipper1</string>
	<key>HPDBookRemoteURL</key>
	<string>http://snipper.cundd.net</string>
	<key>HPDBookTitle</key>
	<string>SnipperHelp</string>
	<key>HPDBookType</key>
	<string>3</string>
</dict>
</plist>
