<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.mac</key>
	<string>em17720</string>
	<key>.me</key>
	<string>em17728</string>
	<key>accounts</key>
	<string>em6565</string>
	<key>actionmenu</key>
	<string>em8889</string>
	<key>addressbook</key>
	<string>em9917</string>
	<key>airport</key>
	<string>em6538</string>
	<key>alias</key>
	<string>em8808</string>
	<key>aliases</key>
	<string>em8808</string>
	<key>applehardwaretest</key>
	<string>em19659</string>
	<key>applemenu</key>
	<string>em6503</string>
	<key>appleremotedesktop</key>
	<string>em6501</string>
	<key>applescript</key>
	<string>em6500</string>
	<key>appletv</key>
	<string>em4082</string>
	<key>application</key>
	<string>em6490</string>
	<key>audiomidisetup</key>
	<string>em6460</string>
	<key>automator</key>
	<string>em6448</string>
	<key>backingup</key>
	<string>em6445</string>
	<key>backtomymac</key>
	<string>em17693</string>
	<key>backup</key>
	<string>em6712</string>
	<key>battery</key>
	<string>em9972</string>
	<key>bluetooth</key>
	<string>em6427</string>
	<key>bootcamp</key>
	<string>em10074</string>
	<key>burn</key>
	<string>em6701</string>
	<key>burncd</key>
	<string>em6701</string>
	<key>burnfolder</key>
	<string>em6280</string>
	<key>burning</key>
	<string>em6279</string>
	<key>burningdiscs</key>
	<string>em6275</string>
	<key>calculator</key>
	<string>em6266</string>
	<key>can'topen</key>
	<string>em13365</string>
	<key>can'tprint</key>
	<string>em13622</string>
	<key>cd</key>
	<string>em6253</string>
	<key>cd-r</key>
	<string>em6252</string>
	<key>changeicon</key>
	<string>em13662</string>
	<key>chess</key>
	<string>em6233</string>
	<key>computername</key>
	<string>em6183</string>
	<key>cookie</key>
	<string>em6159</string>
	<key>cookies</key>
	<string>em6159</string>
	<key>dashboard</key>
	<string>em6122</string>
	<key>defaultapplication</key>
	<string>em13656</string>
	<key>defragment</key>
	<string>em13659</string>
	<key>desktop</key>
	<string>em6095</string>
	<key>dictionary</key>
	<string>em6084</string>
	<key>digitalvideo</key>
	<string>em8173</string>
	<key>discs</key>
	<string>em6071</string>
	<key>dj</key>
	<string>em6759</string>
	<key>dock</key>
	<string>em6054</string>
	<key>download</key>
	<string>em6048</string>
	<key>downloadsfolder</key>
	<string>em13381</string>
	<key>dv</key>
	<string>em8173</string>
	<key>dvdplayer</key>
	<string>em6020</string>
	<key>dvds</key>
	<string>em6017</string>
	<key>eject</key>
	<string>em6001</string>
	<key>ejecting</key>
	<string>em6000</string>
	<key>ejectingdisks</key>
	<string>em6001</string>
	<key>email</key>
	<string>em5998</string>
	<key>energy,saving</key>
	<string>em17832</string>
	<key>exposé</key>
	<string>em5959</string>
	<key>favoritesfolder</key>
	<string>em10080</string>
	<key>faxing</key>
	<string>em5954</string>
	<key>finalcutstudio</key>
	<string>em9981</string>
	<key>finder</key>
	<string>em5940</string>
	<key>finderwindows</key>
	<string>em13621</string>
	<key>firewire</key>
	<string>em5932</string>
	<key>fonts</key>
	<string>em5918</string>
	<key>forgetpassword</key>
	<string>em13625</string>
	<key>forgotpassword</key>
	<string>em13625</string>
	<key>fragmentation</key>
	<string>em13659</string>
	<key>garageband</key>
	<string>em5885</string>
	<key>google</key>
	<string>em3568</string>
	<key>help</key>
	<string>em5854</string>
	<key>homefolder</key>
	<string>em5847</string>
	<key>ical</key>
	<string>em5830</string>
	<key>ichat</key>
	<string>em5827</string>
	<key>ichattheater</key>
	<string>em10158</string>
	<key>idisk</key>
	<string>em5821</string>
	<key>idvd</key>
	<string>em5820</string>
	<key>ilife</key>
	<string>em5817</string>
	<key>imagecapture</key>
	<string>em5808</string>
	<key>imovie</key>
	<string>em5803</string>
	<key>import</key>
	<string>em5802</string>
	<key>importing</key>
	<string>em5801</string>
	<key>importingbookmarks</key>
	<string>em5798</string>
	<key>importingfiles</key>
	<string>em5797</string>
	<key>ink</key>
	<string>em5792</string>
	<key>inkwell</key>
	<string>em6631</string>
	<key>installingmacosx</key>
	<string>em5775</string>
	<key>ipaddress</key>
	<string>em5756</string>
	<key>iphone</key>
	<string>em13385</string>
	<key>iphoto</key>
	<string>em5754</string>
	<key>ipod</key>
	<string>em5752</string>
	<key>isync</key>
	<string>em5747</string>
	<key>itunes</key>
	<string>em5745</string>
	<key>itunesdj</key>
	<string>em17805</string>
	<key>iweb</key>
	<string>em5739</string>
	<key>iwork</key>
	<string>em5738</string>
	<key>keyboardshortcuts</key>
	<string>em5721</string>
	<key>keychain</key>
	<string>em5719</string>
	<key>keynote</key>
	<string>em8525</string>
	<key>labels</key>
	<string>em5714</string>
	<key>logicpro</key>
	<string>em9983</string>
	<key>macosx</key>
	<string>em5672</string>
	<key>macosxserver</key>
	<string>em5671</string>
	<key>mail</key>
	<string>em5667</string>
	<key>menubar</key>
	<string>em5638</string>
	<key>mobileme</key>
	<string>em17720</string>
	<key>motion</key>
	<string>em5601</string>
	<key>network</key>
	<string>em5571</string>
	<key>openapplication</key>
	<string>em13366</string>
	<key>operatingsystem</key>
	<string>em5505</string>
	<key>os</key>
	<string>em5505</string>
	<key>osx</key>
	<string>em5672</string>
	<key>pages</key>
	<string>em2146</string>
	<key>pdf</key>
	<string>em5471</string>
	<key>photobooth</key>
	<string>em9991</string>
	<key>podcastcapture</key>
	<string>em13521</string>
	<key>preview</key>
	<string>em5411</string>
	<key>print</key>
	<string>em5407</string>
	<key>printer</key>
	<string>em5400</string>
	<key>printers</key>
	<string>em5400</string>
	<key>printing</key>
	<string>em5399</string>
	<key>quicklook</key>
	<string>em12337</string>
	<key>rebuild</key>
	<string>em7033</string>
	<key>rebuilddesktop</key>
	<string>em7033</string>
	<key>reinstallingsoftware</key>
	<string>em5312</string>
	<key>remotedesktop</key>
	<string>em5307</string>
	<key>right-click</key>
	<string>em8228</string>
	<key>rightclick</key>
	<string>em13665</string>
	<key>safari</key>
	<string>em5248</string>
	<key>scanning</key>
	<string>em5229</string>
	<key>screensaver</key>
	<string>em5221</string>
	<key>screensavers</key>
	<string>em5221</string>
	<key>screensharing</key>
	<string>em10160</string>
	<key>search</key>
	<string>em5202</string>
	<key>servers</key>
	<string>em8200</string>
	<key>services,using</key>
	<string>em9939</string>
	<key>share</key>
	<string>em5165</string>
	<key>sharing</key>
	<string>em5165</string>
	<key>shortcut</key>
	<string>em5149</string>
	<key>shortcuts</key>
	<string>em5149</string>
	<key>sidebar</key>
	<string>em10199</string>
	<key>smartfolder</key>
	<string>em5130</string>
	<key>snowleopard</key>
	<string>em17967</string>
	<key>spaces</key>
	<string>em10028</string>
	<key>speech</key>
	<string>em5094</string>
	<key>speechrecognition</key>
	<string>em5092</string>
	<key>spotlight</key>
	<string>em5084</string>
	<key>stacks</key>
	<string>em13353</string>
	<key>stationery</key>
	<string>em5073</string>
	<key>stickies</key>
	<string>em5070</string>
	<key>stuffit</key>
	<string>em13660</string>
	<key>systemprofiler</key>
	<string>em5037</string>
	<key>textedit</key>
	<string>em5007</string>
	<key>timecapsule</key>
	<string>em17692</string>
	<key>timemachine</key>
	<string>em9936</string>
	<key>to-do</key>
	<string>em8278</string>
	<key>toolbar</key>
	<string>em4993</string>
	<key>trash</key>
	<string>em4978</string>
	<key>tv</key>
	<string>em8218</string>
	<key>update</key>
	<string>em4952</string>
	<key>usb</key>
	<string>em4947</string>
	<key>users</key>
	<string>em9942</string>
	<key>vo</key>
	<string>em4904</string>
	<key>voiceover</key>
	<string>em4904</string>
	<key>volume</key>
	<string>em4899</string>
	<key>volumes</key>
	<string>em4895</string>
	<key>widgets</key>
	<string>em3608</string>
	<key>windows</key>
	<string>em4869</string>
	<key>zappingpram</key>
	<string>em12262</string>
	<key>zappram</key>
	<string>em17783</string>
</dict>
</plist>
